/*DEFAULT*/
a{text-decoration: none;}

.clear {
    clear: both;
/*    height: 0;
    visibility: hidden;
    display: block;*/
}

.kmi-one-column {width: 100%;}
.kmi-two-columns {width: 50%;}
.kmi-three-columns {width: 33.33%;}
.kmi-four-columns {width: 25%;}
.kmi-five-columns {width: 20%;}
.kmi-six-columns {width: 16.66%;}
.kmi-seven-columns {width: 14.28%;}
.kmi-eight-columns {width: 12.5%;}
.kmi-nine-columns {width: 11.11%;}
.kmi-ten-columns {width: 10%;}

.left {float: left;}
.right {float: right;}
.center {margin: 0 auto;}

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

.vertical-resize {resize: vertical;}
.no-text-decoration {text-decoration: none;}

.inline-block {display: inline-block;}
.block {display: block;}

.success {background-color: #CCFF99; border: 1px solid #008000; padding: 5px;}
.error {background-color: #FFEBE8; border: 1px solid #C00; padding: 5px;}

.bold {font-weight: bold;}
.bolder {font-weight: bolder; font-size: 18px;}
.italic {color: #646464; font-style: italic;}
.no-style {list-style: none;}

.margin-left-10 {margin-left: 10px;}
.margin-right-10 {margin-right: 10px;}

.bottom-border {border-bottom: 1px solid;}

.bg-grey {background-color: #D4D4D4;}

table.kmi-table
{
    border-collapse: collapse;
    border-spacing: 0px;
}
table.kmi-table th
{
    border: 1px solid;
    padding: 3px;
    vertical-align: top;
    margin: 0;
}
table.kmi-table td
{
    border: 1px solid;
    padding: 7px 5px;
    vertical-align: top;
    margin: 0;
}

/* 800 Wide Screen */
@media (max-width: 800px) {
    p.kmi-responsive label {display: block; width: 100% !important;}
    
    p.kmi-responsive input[type="text"],
    p.kmi-responsive input[type="password"],
    p.kmi-responsive input[type="email"],
    p.kmi-responsive input[type="button"],
    p.kmi-responsive input[type="submit"],
    p.kmi-responsive select,
    p.kmi-responsive textarea
    {
        width: 100% !important;
        margin-bottom: 5px;
    }
}
 /* 480 Wide Screen */ 
@media (max-width: 480px)
{
    .kmi-small-screen-fit label
    {
        display: inline-block;
        width: 50% !important;
    }
    
    .kmi-small-screen-fit select
    {
        display: inline-block;
    }
}

/* PAGINATION */
div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #707070; /*c00*/
}